@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #17a2b8;
  --secondary-color: #343a40;
  --tertiary-color: #ffffff;
  --card-hover-background-color: var(--primary-color);
  --section-banner-text-shadow: #333;
  --card-body-text-color: #333;
  --card-header-text-color: #333;
  --card-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  --body-bg-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--body-bg-color);
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

img {
  width: 100%;
  height: 300px;
}

/* Set header and nav styles */
header {
  background-color: var(--primary-color);
  box-shadow: var(--card-shadow);
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

/* Style logo and menu icon */
.logo a {
  color: var(--tertiary-color);
  font-size: 1.8em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.menu-icon {
  cursor: pointer;
  display: none;
}
.menu-icon i {
  font-size: 1.5em;
}

/* Style menu */
.menu {
  padding: 10px;
}

.list-item {
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  color: #ffffffaf;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-link:hover {
  color: var(--tertiary-color);
}
.current {
  color: var(--tertiary-color);
  font-weight: bold;
}

/* Add media queries for responsive design */
@media only screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .menu-icon i {
    color: #fff;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 1;
  }
  .menu.active li {
    margin: 10px 0;
    text-align: center;
  }
  .menu.active a {
    font-size: 1.5em;
  }
}

/*Banner  section */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.banner h2 {
  color: var(--secondary-color);
  font-size: 3em;
  text-shadow: var(--section-banner-text-shadow) 1px 1px;
  margin: 1em 0;
  margin-left: 3rem;
  font-family: inherit;
}

.banner p {
  color: var(--secondary-color);
  font-size: 1.5em;
  text-shadow: var(--section-banner-text-shadow) 1px 1px;
  margin: 1em 0;
  margin-left: 3rem;
  font-family: inherit;
}

/*Card section */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  max-width: 400px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  background-color: var(--tertiary-color);
  box-shadow: var(--card-shadow);
  color: var(--card-body-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  transition: all 0.2s ease-in-out;
}

.card h3 {
  font-size: 36px;
  color: var(--card-header-text-color);
  margin-bottom: 20px;
}

.card i {
  color: #555555bf;
  margin-bottom: 30px;
}

.card:hover {
  background-color: var(--card-hover-background-color);
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--card-hover-background-color);
}

.card-icon {
  text-align: center;
}

.card-content {
  margin-top: 20px;
}
.server-specs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.server-specs li {
  display: inline-block;
  margin-right: 10px;
}

.card:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.card:hover h3 {
  color: #fff;
}

.card:hover i {
  color: #fff;
}

.card:hover .server-specs li {
  color: #fff;
}

.card:hover .key-features li:before {
  content: '\f0a3';
  font-family: 'FontAwesome';
  margin-right: 10px;
}

/* Footer container */
.footer {
  background-color: var(--secondary-color);
  color: #555;
  padding: 20px;
  margin-top: 40px;
}

/* Navigation menu */
.footer nav {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Navigation items */
.footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer nav li {
  display: inline-block;
  margin: 0 10px;
  margin: 0 1em;
}

.footer nav a {
  color: var(--tertiary-color);
  text-decoration: none;
}

/* Copyright text */
.footer p {
  text-align: center;
  font-size: 14px;
}

/* Media queries */
@media (max-width: 680px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .server-specs {
    flex-direction: column;
  }

  .server-specs li {
    display: block;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .key-features li:before {
    content: '\f0a3';
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* RESPONSIVE DESIGN // HEADER */
  .logo {
    font-size: 2rem;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon i {
    font-size: 1.5rem;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 99px;
    left: 0;
    background-color: var(--primary-color);
  }

  .menu.active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu.active ul li {
    margin: 10px 0;
  }

  .menu.active ul li a {
    font-size: 1.2rem;
  }
  /* Banner container */
  .banner img {
    max-width: 500px;
  }
  /* Footer container */
  .footer {
    padding: 10px;
  }

  /* Navigation items */
  .footer nav li {
    display: block;
    margin: 5px 0;
  }

  /* Copyright text */
  .footer p {
    font-size: 12px;
  }
}

@media (min-width: 681px) and (max-width: 1200px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 48%;
    margin-bottom: 10px;
  }

  .card:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1280px) {
  .card-container {
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
}
